.App {
  text-align: center;
  background-color: #eae9e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #6d6d6d;
}

